<div class="w-full max-w-xs mx-auto">
  <form
    [formGroup]="loginForm"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <mat-form-field appearance="standard">
      <mat-label>Login</mat-label>
      <input formControlName="login" matInput type="text"/>
      <mat-error *ngIf="login?.errors?.required">Login required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input [type]="hide1 ? 'password' : 'text'" formControlName="password" matInput/>
      <button (click)="hide1 = !hide1" matSuffix mat-icon-button type="button">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.errors?.required"
        >Password required</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      type="button"
      [@connect]="state"
      [disabled]="loginForm.invalid"
      (click)="auth()"
      class="mt-50 border"
    >
      {{ loginForm.invalid ? 'Waiting' : authButton }}
    </button>
  </form>
</div>