<!-- <div class="inset-0 bg-black text-white p-5">
    <div class="justify-between justify-arround flex mx-7 place-items-center">
        <div class="flex place-items-center">
            <a href="/"><img src="/assets/images/logopa.png" width="50px" height="50px"></a>
            <h3 style="margin-bottom: 0%;"><a class="mx-8 my-0 py-3 border-r-2"></a></h3>
            <div>
                <a class="mr-2" routerLink="/files">Mes Fichiers</a>
                <a class="mx-2" routerLink="/login" >Login</a>
                <a class="mx-2" routerLink="/register">Register</a>
                <a class="mx-2" routerLink="/dashboard">Dashboard</a>
            </div>
        </div>

        <div class="flex">
            <div>
                <a><mat-icon class="mx-8 mt-2.5" style="font-size: 35px;">notifications</mat-icon></a>
            </div>
            <div>
                <a><mat-icon style="font-size: 50px;  ">lens</mat-icon></a>
            </div>
        </div>
    </div>
</div> -->

<router-outlet></router-outlet>