<div class="text-white mt-6">
    <div class="flex justify-center">
        <div class="flex-col text-center">
            <h1>Choisissez votre abonnement</h1>
            <p>Choisissez votre abonnement en fonction de vos besoins.</p>
        </div>
    </div>
    <div class="flex justify-center mt-12">

        <div *ngFor="let subscription of subscriptions" class="bg-dark2 border grid grid-flow-row w-auto border-r justify-center">
            <div class="flex-col text-center my-4">
                <div class="sub mt-2 mb-7">{{ subscription.name }}</div>
                <!-- <div class="m-4">{{ subscription.price }} € / Mois</div> -->
                <p class="price">{{ subscription.price }} € </p>
            <p>/ Mois </p>
                <ul class="mb-6">
                    <li>{{ subscription.storage }} de stockage</li>
                    <li>Stocker vos fichiers en toute sécurité</li>
                    <li>Créez des dossiers afin d'organiser vos fichiers</li>
                </ul>
                
                <button id="{{ subscription.id }}" mat-raised-button type="submit" (click)="openDialog( subscription )" class="border">
                    {{ subscription.name }}
                </button>
            </div>
        </div>
        
    </div>
</div>