<div class="flex-col sm:flex-row flex h-full">
  <div class="flex flex-row sm:flex-col">
    <div class="bg-dark2 w-full h-full flex flex-row sm:flex-col sm:justify-start p-2">

      <button
        routerLink="/"
        class="my-2 mr-3 sm:mr-0"
        matRipple
        [matRippleCentered]="false"
        [matRippleDisabled]="false"
        [matRippleUnbounded]="false"
        [matRippleRadius]="0"
        [matRippleColor]="''"
      >
        <img
        src="/assets/images/logopa.png"
          class="mx-auto"
          width="50px"
          height="50px"
        />
      </button>

      <button
        class="my-2 mr-3 sm:mr-0"
        routerLink="files"
        matRipple
        [matRippleCentered]="false"
        [matRippleDisabled]="false"
        [matRippleUnbounded]="false"
        [matRippleRadius]="0"
        [matRippleColor]="''"
      >
        <img
          src="../assets/icons/folder_white_48dp.svg"
          class="mx-auto"
          width="50px"
          height="50px"
        />
      </button>

      <button
        class="my-2 mr-3 sm:mr-0"
        routerLink="settings"
        matRipple
        [matRippleCentered]="false"
        [matRippleDisabled]="false"
        [matRippleUnbounded]="false"
        [matRippleRadius]="0"
        [matRippleColor]="''"
      >
        <img
        src="../assets/icons/manage_accounts_white_48dp.svg"
          class="mx-auto"
          width="50px"
          height="50px"
        />
      </button>

      <!-- <button
      class="my-2 mr-3 sm:mr-0"
      routerLink="/logout"
      matRipple
      [matRippleCentered]="false"
      [matRippleDisabled]="false"
      [matRippleUnbounded]="false"
      [matRippleRadius]="0"
      [matRippleColor]="''"
    >
      <img
      src="../assets/icons/manage_accounts_white_48dp.svg"
        class="mx-auto"
        width="50px"
        height="50px"
      />
    </button> -->
      
    </div>
  </div>

  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
</div>
