<div [ngSwitch]="mode" class="flex h-full">
    <div style="width: 5%">
        <div class="bg-dark2 w-full h-full flex justify-start flex-col p-2">
          <img
            src="/assets/images/logopa.png"
            class="mx-auto"
            width="50px"
            height="50px"
          />
          <button (click)="mode = 'files'" class="w-full" mat-button>
            <mat-icon style="width: 50px; height: 50px;" class="text-gray-100 text-justify text-4xl mx-auto my-4">folder</mat-icon>
          </button>
          <button (click)="mode = 'settings'" class="w-full" mat-button>
            <mat-icon style="width: 50px; height: 50px;" class="text-gray-100 text-justify text-4xl mx-auto my-4">settings</mat-icon>
          </button>

        </div>
    </div>

    
      <app-files *ngSwitchCase="'files'" class="flex flex-row h-full w-full"></app-files>
      <app-settings *ngSwitchCase="'settings'" class="flex flex-row h-full w-full"></app-settings>
      <!-- <div *ngSwitchCase="expression">output</div> -->
      <!-- <div *ngSwitchDefault>output2</div> -->
</div>