<button (click)="getFiles()">OSEF</button>

<input multiple (change)="uploadFile(upload)" hidden #upload type="file" />

<button (click)="upload.click()" mat-icon-button>
  <mat-icon>file_upload</mat-icon>
</button>

<div class="overflow-y-auto flex-col-reverse">

<table class="table-fixed border-collapse border border-green-800 w-11/12">
  <thead>
    <tr>
      <th class="p-1 pl-0 border bg-green-600 text-left w-5"></th>
      <th class="p-1 pl-0 border bg-green-600 text-left">Nom</th>
      <th class="p-1 pl-0 border bg-green-600 text-left">Taille</th>
      <th class="p-1 pl-0 border bg-green-600 text-left">Type</th>
      <th class="p-1 pl-0 border bg-green-600 text-left">Date d'ajout</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let file of files"
      [attr.id]="file.name"
      (click)="pickFile($event)"
      (dblclick)="download( file.name )"
      [attr.filesize]="file.size"
      [ngClass]="{
        'bg-gray-500': isItPicked(file.name),
        'hover:bg-gray-400': !isItPicked(file.name)
      }"
    >
      <td class="p-1">..</td>
      <td class="p-1">{{ file.name }}</td>
      <td class="p-1">{{ file.size | bytesConverter: "MB" }}</td>
      <td class="p-1">{{ file.type | mimeName: file.name }}</td>
      <td class="p-1">{{ file.createdOn | date: "MM/dd/yy HH:mm" }}
        <span class="ml-7">
          <mat-icon>more_horiz</mat-icon>
        </span>
      </td>
    </tr>
  </tbody>
</table>

</div>

<div class="border flex justify-between w-11/12">
  <span>
    {{ pickedElements?.size ?? 0 }} of {{ files.length }} items selected
    <span>{{ pickedElementsTotalSize | bytesConverter: "MB" }}</span>
  </span>
  <div>
    <button (click)="downloadSelection()" mat-icon-button>
      <mat-icon>file_download</mat-icon>
    </button>
    <button (click)="deleteFiles()" mat-icon-button>
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button (click)="shareFile()" mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </div>
</div>
