<div class="inset-0 bg-black text-white p-10">
    <div class="justify-between justify-arround flex mx-7">
        <div class="flex  mx-44">
            <div>
                <a class="mr-2" href="/files">Accueil /</a>
            </div>
        </div>

        <div class="flex">
            <div>
                <a><mat-icon class="mx-8">create_new_folder</mat-icon></a>
            </div>
            <div>
                <a><mat-icon>post_add</mat-icon></a>
            </div>
        </div>


    </div>
</div>

<div class="flex">
    <div class="flex-initial bg-black h-screen p-24">

    </div>
</div>