/* You can add global styles to this file, and also import other style files */


@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

$surface-black-1: #202020
$surface-black-2: #181818
.bg-dark1
    background-color: $surface-black-1
.bg-dark2
    background-color: $surface-black-2