/* You can add global styles to this file, and also import other style files */


@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

$surface-black-1: #252525
$surface-black-2: #202020

.bg-dark1
    background-color: $surface-black-1
.bg-dark2
    background-color: $surface-black-2

.custom-dialog-container .mat-dialog-container 
    background-color: $surface-black-1
    color: white
    box-shadow: 0 0 2em $surface-black-2

.mat-tree-node
    color: white